* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: rgb(32, 32, 32);
  height: 10vh;
}
.logo {
  font-family: "Festive", cursive;
  padding: 1rem;
  flex: 1;
}
.logo h1 {
  color: aliceblue;
}
.nav {
  flex: 5;
}
.landing-page {
  height: 90vh;
  background: linear-gradient();
}
